.general-margin {
  margin-top: 20px;
}

#map {
margin: auto;
margin-bottom: 20px;
margin-top: 20px;
min-height: 400px;
width: 80%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.slider {
  margin-top: 15px;
}
