.show-validation {
  text-align: center;
  margin-top: 10px;
}

.booked-ride {
  background-color: $light-blue;
  color: #FFF;
  border-radius: $border-radius-small;
  padding: 10px;
  margin: auto;
  max-width: 160px;
  text-align: center;
  font-weight: bold;
}
