<div class="row">
  <div class="range-slider">
    <div class="slider">
      <input class="lign" type="range" min="0" max="10" value="3" id="fader" step="1" oninput="outputUpdate(value)">
      <output for="fader" id="volume">3</output>
    </div>
  </div>
</div>


