<div class="row">
  <div class="range-slider">
    <input type="range" value="3" min="0" max="10"></input>
    <output for="value" onforminput="value = value.valueAsNumber;"></output>
    <div class="lign"></div>
  </div>
</div>


