<div class="booked">
  <h4 class="small-header"> Vous avez pris ce ride !</h4>
  <p style="font-size: 20px;">Code commerçant : </p>
  <p class="code" style="font-size: 20px;"><%= request.code.upcase %> </p>
</div>
