<div class="booked">
  <h4 class="small-header"> Vous avez pris ce ride !</h4>
  <p>Code transmis au commerçant : </p>
  <p class="code"><%= request.code %> </p>
  <p>Status : <%= request.explicit_status %></p>
</div>
