<div class="map_box">
  <h3>Requete n° <%= departure.departure_request.id %></h3>
  <p><%= departure.departure_request.description %></p>
  <%# link_to "Details", flat_path(flat), target: :blank, class: "btn btn-warning" %>
</div>
