<%= link_to request_path(departure.departure_request) do %>
  <div class="card"  >
    <div class="card-category"> <%= image_tag departure.departure_request.parcel_icon %> </div>
    <div class="card-description">
      <p><%= departure.departure_request.description %></p>
      <p class= "arrival_ad">A livrer ici : <%= departure.departure_request.arrival.address %></p>

    </div>

  </div>
<% end %>

