<div class="home-logo">
  <h1 class="home-brand-name"> DailyVery</h1>
  <p>Les livraisons de votre quotidien</p>
</div>

<div class="home-wrapper">
  <div class="rider-side" style="background-image: url(<%= image_path('rider.jpg') %>); background-size: cover;">
    <div class="rider-overlay">
      <button type="button" class="btn btn-rider">Je propose</button>
    </div>
  </div>
  <div class="client-side" style="background-image: url(<%= image_path('mail.jpg') %>); background-size: cover;">
    <div class="client-overlay">
      <button type="button" class="btn btn-client">Je recherche</button>
    </div>
  </div>
</div>
