
<div class="home-logo">
  <div class="home-brand-name">
    <h1>DailyVery</h1>
    <p>Les petites livraisons de votre quotidien</p>
  </div>
</div>

<div class="home-wrapper">
  <div class="rider-side" style="background-image: url(<%= image_path('rider.jpg') %>); background-size: cover;">
    <div class="rider-overlay">
      <%= button_to "Je cherche une ride", requests_path, class: "btn btn-rider", method: :get %>
    </div>
  </div>
  <div class="client-side" style="background-image: url(<%= image_path('mail.jpg') %>); background-size: cover;">
    <div class="client-overlay">
      <%= button_to "Je commande un rider", new_customer_request_path, class: "btn btn-client", method: :get %>
    </div>
  </div>
</div>



