<h3 class="small-header">Dailyvery Team</h3>

<div class="speech-wrapper">
  <div class="bubble">
    <div class="txt">
      <p class="name">Benni</p>
      <p class="message">Hey, check out this Pure CSS speech bubble...</p>
      <span class="timestamp">10:20 pm</span>
    </div>
    <div class="bubble-arrow"></div>
  </div>
  <!--  Speech Bubble alternative -->
  <div class="bubble alt">
    <div class="txt">
      <p class="name alt">+353 87 1234 567<span> ~ John</span></p>
      <p class="message">Nice... this will work great for my new project.</p>
      <span class="timestamp">10:22 pm</span>
    </div>
    <div class="bubble-arrow alt"></div>
  </div>
</div>


<div class="team-wrapper">
  <div class="team-card">
    <%= image_tag(('team/mevanwy.JPG'), class: 'avatar-large') %>
    <div class="speech-wrapper">
      <div class="bubble">
        <div class="txt">
          <p class="name">Dame Mévanwy</p>
          <span class="timestamp">Undertable K9 agent</span>
          <p class="message">J'étais là tous les jours, promis.</p>
        </div>
        <div class="bubble-arrow"></div>
      </div>
    </div>
  </div>
</div>
