// Your footer style
.footer {
  height: 70px;
  width: 100%;
  text-align: center;
  color: #616668;
  font-size: 0.85em;
  margin-top: 5px;
  h1 {
    display: inline;
    font-size: 1.2em;
  }
  .footer-content {
    padding-top: 10px;
  }
  a {
    text-decoration: none;
    color: #333;
    :hover {
      color: #333;
      }
  }
}

