// Your footer style
.footer {
  position: fixed;
  background-color: #E8EEF0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  color: #616668;
  font-size: 0.85em;
  margin-top: 5px;
  h1 {
    display: inline;
    font-size: 1.2em;
  };
  .footer-content {
    padding: 15px;
  };
}

