.booked {
  background-color: $light-blue;
  color: #FFF;
  border-radius: $border-radius-small;
  padding: 10px;
  margin: auto;
  max-width: 250px;
  text-align: center;
  margin-top: 10px;
}

.code {
  font-weight: bold;
}

.booked-orange {
  background-color: $light-orange;
}
.booked-show {
  margin-bottom: 10px;
}
