.btn-client {
  background-color: $light-orange;
  border-color: $light-orange;
  font-size: 1.2em;
  color: #fff;
  font-family: $button-font;
  padding: 12px;
  border-radius: 15px;
}

.btn-client-index {
  font-size: 1em;
  padding: 6px;
  margin-top: 5px;
}

.btn-customer-index {
  margin: auto;
  text-align: center;
  padding: 30px 0;
}
