.btn-customer-index {
  margin: auto;
  text-align: center;
  padding: 10px 0;
}

.btn-client-index {
  font-size: 1em;
  padding: 6px;
}

.index-card {
  background-color: #eeeeee;
  border-radius: $border-radius-small;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.fa-chevron-down {

}

.statut {
  color: $light-orange;
  font-weight: bold;
}

.center {
  text-align: center;
}
