
.search-form-requests {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
//   position: relative;
// }

// output {
//   position: absolute;
//   left: 50px;
//   padding: .5em;
//   background: #73CDCD;
//   color: white;
//   border-radius: 20px;
//   width: 50px;
//   text-align: center;
//   content: ' km';
// }

// output:after {
//   content: ' km';
//   position: absolute;
//   text-align: center;
// }

// .lign {
//   color: red;
// }
