* {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-weight: 400;
  }
/*button*/


.user {
  -moz-user-select: none;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 28px;
  left: 50%;
  line-height: 28px;
  position: relative;
  top: 20px;
  width: 106px;
  -moz-transform: translate(-50%, 0px);
  -o-transform: translate(-50%, 0px);
  -webkit-transform: translate(-50%, 0px);
  }
.button {
  border-radius: 100px;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 106px;
  }
.button div{
  border-radius: 100px;
  width: 106px;
  }

.button p {
  padding-left: 15px;
  }
.button__item_on {
  background-color: #4dd965;
  height: 100%;
  }

.button__item_off {
  background-color: transparent;
  position: absolute;
  right: -78px;
  top: 0;
  z-index: 60;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  }


div.swiper {
  background-color: white;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 25px;
  left: 80px;
  position: absolute;
  top: 1px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  width: 25px;
  z-index: 70;
  }


.swipe_on .swiper {
  left: 2px;
  }



.swipe_on .button__item_off {
  right: 0;
  }

.button__item_off > p {
  padding-right: 10px;
  text-align: right;
  }


.swipe_on .button__item_off p {
  opacity: 1;
  }

.button__item_off > p {
  opacity: 0;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  }

.swipe_on .button__item_off {
  background-color: gray;
  right: 0;
  }

.show_options .options {
  transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  }
