// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

body {
  margin-bottom: 5px;
}

h1 {
  @media (max-width: 468px) {
        font-size: 30px;
      }
}

.small-header {
  font-family: $button-font;
}

.login-wrapper {
  padding: 50px;
  height: 75Vh;
  margin: auto;
  width: 80%;
  @media (max-width: 768px) {
        width: 100%;
      }
}


.btn.btn-chevron:focus {
  outline: none;
}

.form-wrapper {
  min-height: 75Vh;
}

.btn-show {
  margin: auto;
}

.form-confirm {
  text-align: center;
  padding: 10px !important;
  background-color: white !important;
  color: $gray !important;
}

.price-tag {
  padding: 10px;
}
