// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

/* GENERAL LAYOUT */
.rider-background {
  background-color: $background-rider;
  padding-bottom: 15px;
  min-height: calc(100vh - 120px);
}

.client-background {
  background-color: $background-client;
  min-height: calc(100vh - 120px);
}
h1 {
  @media (max-width: 468px) {
        font-size: 30px;
      }
}

.small-header {
  font-family: $button-font;
  margin-top: 11px;
}
/* SEARCH FORM */
.search-form-requests {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.search-ride {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* GENERAL INDEX */
 .general-margin {
  margin-top: 20px;
}

/* MAPS */
#map {
margin: auto;
margin-bottom: 20px;
margin-top: 20px;
min-height: 400px;
width: 80%;
  @media (max-width: 768px) {
    width: 100%;
  }
}



.slider {
  margin-top: 15px;
}



.login-wrapper {
  padding: 50px;
  height: 75Vh;
  margin: auto;
  width: 80%;
  @media (max-width: 768px) {
        width: 100%;
      }
}

.rider-index-height {
  min-height: 80Vh;
}

.btn.btn-chevron:focus {
  outline: none;
}
.form-wrapper {
  min-height: 80Vh;
  width: 80%;
   @media (max-width: 768px) {
        width: 100%;
      }
  margin: auto;
  padding: 10px 20px;
}
.btn-show {
  margin: auto;
}
.form-confirm {
  text-align: center;
  padding: 10px !important;
  background-color: white !important;
  color: $gray !important;
}
.price-tag {
  padding: 10px;
}

*:focus {
outline: none;
}
*::-moz-focus-inner {
border: none;
}
