<div class="footer">
  <div class="footer-content">
    <h1>DailyVery</h1>, les livraisons de votre quotidien
  </div>
  <div class="meet-team">
    <%= link_to team_path, class: "navbar-wagon-item navbar-wagon-link" do %>
      Rencontrez la team <h1>DailyVery</h1>!
    <%end%>
  </div>
</div>
